{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="text-5xl font-bold"><strong>Dashboard</strong></h1>

    {% if request.user.is_authenticated %}
        <h2 class="text-3xl font-bold">Welcome, {{ request.user.username }}!</h2>

        <div class="bg-white rounded-lg shadow-md p-6">  <h3 class="text-lg font-semibold mb-4">Books Read:</h3>
            {% if books_read.all %}
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">  <ul>
                        {% for book in books_read %}
							<!-- aqui marca entre los libros en la lista de los libros q has leido -->
                            <li class="bg-gray-100 rounded-lg shadow-inner p-4 flex mb-4">  <img src="{{ book.image.url }}" alt="{{ book.name }}" class="w-24 h-32 object-cover rounded-md mr-4">
                                <div>
                                    <h2 class="text-lg font-semibold"><a href="{% url 'item:detail' item_id=book.id %}">{{ book.name }}</a></h2>
                                    <p class="text-gray-500">{{ book.author }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p>You haven't read any books yet.</p>
            {% endif %}

            <h3 class="text-lg font-semibold mb-4 mt-6">Books on Your Reading List:</h3>
            {% if bookmark.all %}
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">  <ul>
                        {% for book in bookmark %}
							<!-- aqui marca entre los libros en la lista del reading list -->
                            <li class="bg-gray-100 rounded-lg shadow-inner p-4 flex mb-4">  <img src="{{ book.image.url }}" alt="{{ book.name }}" class="w-24 h-32 object-cover rounded-md mr-4">
                                <div>
                                    <h2 class="text-lg font-semibold"><a href="{% url 'item:detail' item_id=book.id %}">{{ book.name }}</a></h2>
                                    <p class="text-gray-500">{{ book.author }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p>You don't have any books on your reading list.</p>
            {% endif %}
        </div>
    {% else %}
        <p>You must log in to see this information.</p>
    {% endif %}
{% endblock %}